.parent{
    display: flex;
    flex-direction: row;
}
.adminSection {
    width: 55%;
}

.blogListSection{
    width: 50%;
}

.adminSection h1 {
    margin: 25px 0px 0px 350px !important;
    color: black !important;
    font-family: "Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
}
.blogListSection h1{
    margin: 25px 0px 0px 330px !important;
    color: black !important;
    font-family: "Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
}
.editBlogSection a{
    text-decoration: underline;
    border: none;
}
.blogitems{
    margin: 2px 0px 0px 10px !important;
    color: #222121;
}



.createBlogSection {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 25px !important;
    margin: 50px 20px 10px 20px !important;
    border: solid 1px;
    border-color: #4076bd;
    border-radius: 5px 5px 5px 5px !important;
    background-color: #fff;
    background-color: rgb(220, 220, 247);
}

.editBlogSection{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 0px !important;
    margin: 72px 20px 0px 20px !important;
    border: solid 1px;
    border-color: #4076bd;
    border-radius: 5px 5px 5px 5px !important;
    background-color: rgb(220, 220, 247);
    font-family: "Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: .8rem;
}

.feedbackSection{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 0px !important;
    margin: 72px 20px 0px 20px !important;
    border: solid 1px;
    border-color: #4076bd;
    border-radius: 5px 5px 5px 5px !important;
    background-color: rgb(220, 220, 247);
    font-family: "Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: .8rem;
}
.feedbackEmail {
 margin: 0px 20px 0px 30px;
}

.feedbackComments {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    margin: 0px 0px 0px 20px;
}


.textAreaBtn, .codeAreaBtn, .imageAreaBtn{
    margin: 5px;
    font-family: "Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: .7rem;
}
.defaultTextArea{
    height: 80px;
    width: 800px;
    margin: 10px 0px 10px 40px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff !important;
    border-radius: 5px;
}

.codehighlight{
    height: 80px;
    width: 810px;
    margin: 5px 0px 10px 40px;
    color: #fff !important;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #353232 !important;  
    border-radius: 5px;
}

.closeElement{
    margin: 0px -100px -30px 820px !important;
    background-color: rgb(235, 118, 118);
    border-radius: 4px;;
}

.submitSection input{
    position: relative;
    width: 150px;
    height:50px;
    margin: 50px 0px 20px 370px;
    background-color: rgb(125, 125, 224);
    border-radius: 5px;;
    border-color: #fff;
    color: #fff;
}


@media only screen and (max-width: 1537px)  {
    .defaultTextArea{
        height: 50px;
        width: 600px;
        margin: 10px 0px 10px 40px;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff !important;
        border-radius: 5px;
    }

    .codehighlight{
        height: 60px;
        width: 610px;
        margin: 5px 0px 10px 40px;
        color: #fff !important;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #353232 !important;  
        border-radius: 5px;
    }

    .closeElement{
        margin: 0px -100px -30px 625px !important;
        background-color: rgb(235, 118, 118);
        border-radius: 4px;;
    }

    .submitSection input{
        position: relative;
        width:150px;
        height:50px;
        margin: 10px 0px 20px 265px;
        background-color: rgb(125, 125, 224);
        border-radius: 5px;;
        border-color: #fff;
        color: #fff;
    }

    .validationmsg{
        color: rgb(238, 6, 56) !important;
        font-size: 12px !important;
        margin: 50px;
    }

.logout input {
    height: 20px;
    width: 60px;
    margin: -30px 0px 0px 500px !important;
}

.tagsName{
margin-left: 10px;
}

#profilePic{
margin: 0px 0px 10px 40px;
}

.previewProfilePic img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 40px;
}

.blogitems {
    /* float: left; */
    display: flex;
    width: 33%;
    margin: 20px 0px 0px 10px !important;
    border-color: #353232 !important;
    border-color: #779ccd !important;
    border: solid 1px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .reactEditorArea{
    height: 250px !important;
    margin: 20px 10px 0px 10px !important;
  }

  .reactEditorOutput{
    height: 50px !important;
    margin: 10px 10px 0px 10px !important;
  }



    
}


@media only screen and (max-width: 1920px)  {
   
.logout input {
 height: 20px;
 width: 60px;
 margin: -30px 0px 0px 700px;
}    

#profilePic{
    margin: 0px 0px 10px 40px;
}

.previewProfilePic img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 40px;
}


.blogitems {
    /* float: left; */
    display: inline-block;
    width: 30.33%;
    margin: 0px 0px 0px 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .reactEditorArea{
    height: 350px !important;
    margin: 20px 10px 0px 10px !important;
  }

  .reactEditorOutput{
    height: 50px !important;
    margin: 10px 10px 0px 10px !important;
  }

  .adminSuccessMsg{
    height: 50px;
    width: 200px;
    color: #35a961 !important;
    margin: 0px 0px 0px 280px !important;
    font-size: x-small;
  }

  .adminDeleteMsg{
    height: 50px;
    width: 200px;
    color: #cd373f !important;
    margin: 0px 0px 0px 280px !important;
    font-size: x-small;
  }
    
}


