.blogDetailsSection{
 width: 100% !important;
}

.individual-blogs{
    display: grid;
    grid-gap: 25px !important;
    margin: 20px 20px 10px 50px !important;
    border-color: #E2E8F0;
    border-radius: 0px 15px 15px 0px !important;
}


.blogImage img {
    width: 100% !important;
    display: block;
    height: 220px;
    border-radius: 3px 3px 3px 3px !important;
}

.blogTextPara {
 width: 100% !important;
}

.blogTextPara p{
    color: rgb(20, 21, 46) !important;
    text-decoration: none;
    text-align: left !important;
    font-size: 16px; 
}

.blogTextPara p code {
    margin-right: 100px;
    margin-left: 50px !important;
  }

.blogTextPara code {
  margin-right: 100px;
  margin-left: 100px !important;
  padding-bottom: 10px !important;
}

