.footerSection{
    display: block;
    background-color: #2a3156;
    color: #fff;
    font-family: gotham,Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 20px;
    /* text-transform: uppercase; */
    width: 100%;
    position: fixed;
    bottom: 0;
}


@media only screen and (max-width: 1920px)  {
.allIconsFooter img{
 width:30px;
 height:30px;
 border-radius: 15px;
 margin: 20px 10px 50px 20px;
}

}