body {
    /* background-color: #f4f4f4; */
    background-color: rgb(232, 236, 250);
    overflow-x: hidden;
}


.logoheader h1{
    margin: 10px 0px 10px 10px !important;
    color: black !important;
}
